.scoreBtn{
    background-color: rgba(0, 204, 255 , 0.7);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 28px;
    top: 10px;
}
.restartBtn
{
    display: flex;
    flex-direction: column;   
    background-color: rgba(0, 204, 255,0.7);
    position: absolute;
    left: 35px;
    top: 60px;
}
.restartBtn :active
{
    transform: translateY(5px);
}
.buttonContainer
{
    width: 150px;
    height: 140px;
    background-color: rgba(223, 24, 54, 0.7);
    position: relative;
    margin-left: 60px;
}