.Container
{
   height: 100vh;
   background-color: rgba(229, 160, 216, 0.764);
   margin-top: 0;
   position: relative;
}
.mainContainer
{
    background-image: url("C:\Users\sivar\Downloads\NaturePic.jpg");
    height : 500px;
    width: 600px;
    position:absolute;
    top: 20%;
    left: 30%;
    overflow: hidden;
    box-shadow: 3px 3px 8px 3px rgb(225, 11, 150);
}

.startButton
{
    position: absolute;
    left: 700px;
    top: 650px;
}

.scoreButton
{
    position: absolute;
    left: 600px;
    top: 650px;
}

.upButton
{
    position: absolute;
    left: 810px;
    top: 650px;
}


button{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgb(51, 153, 138);
    margin: 10px;
    letter-spacing: 1px;
}
button:active
{
    transform: translateY(5px);
}
